
h1,
#royal_preloader.text .loader,
.home-big-text,
.list-social li.icon-soc a,
.big-text-sections,
.cl-effect a span::before,
.about-process h5 span,
#sync3 .item h6 span,
#sync3 .item .team-words:before,
#sync3 .item .team-words:after,
.counter-wrap,
#sync3 .item .team-social a,
.contact-social a,
.about-what-do h6 span,
.awwwards-wrap p,
.footer h6 span,
.testi-words:before,
.testi-words:after,
.testi-name,
.services-top-text p span,
.steps-wrap h5 span,
.price-text-1,
.list-slider p span,
.twit-words:before,
.twit-words:after,
.twit-words a,
.twit-user,
#button-con button span::before,
.details-wrapper p,
.project-top-text p span,
.ajax-project-top-text p span{
	color:#ffffff;
}
.futured{
	color:#cbab82 !important;
}
#bar{
  background: #cbab82;
}
#sync2 .item{
	border:5px solid #cbab82;
}
#sync4 .item{
	border:5px solid #cbab82;
}
.border-top-dash,
.project-box .border-top-dash-project{
	border-top:1px dashed #cbab82;
}
.border-bottom-dash,
.project-box .border-bottom-dash-project{
	border-bottom:1px dashed #cbab82;
}
.border-left-dash,
.project-box .border-left-dash-project{
	border-left:1px dashed #cbab82;
}
.border-right-dash,
.project-box .border-right-dash-project{
	border-right:1px dashed #cbab82;
}
.fix-menu .dl-menuwrapper ul {
	background: #cbab82;
}
.intro-nav li a:hover .dots-nav{
	background:#cbab82;
}
 
.line-sep{
	border-top:1px dashed #cbab82;
}
.testi-in .testi-small-img{
	border:5px solid #cbab82;
} 
.testi-in  .arrow-down{
	  border-top:11px solid #cbab82;
}
.close-project:hover {
	background-color:#cbab82;
} 
.left-project:hover {
	background-color:#cbab82;
}
.right-project:hover {
	background-color:#cbab82;
}
.full-section {
	border:10px solid #cbab82;
} 
.half-top-section {
	border:10px solid #cbab82;
} 
.half-bottom-section {
	border:10px solid #cbab82;
}
.price-text-3{
	border-top:1px dashed #cbab82;
}
.last-border-down{
	border-bottom:1px dashed #cbab82;
}
.price-wrap{
	border:5px solid #cbab82;
}

.page-top-intro{
	background:#cbab82;
}














